<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com-epam-dhl-cordova-push-delivery" version="0.0.1">

  <name>com-epam-dhl-cordova-push-delivery</name>

  <engines>
    <engine name="cordova-android" version=">=6.3.0"/>
    <engine name="cordova-ios" version=">=4.5.0"/>
  </engines>

<!--
  <hook type="after_prepare" src="scripts/integrate_notification_extension.js"/>
-->
  <platform name="ios">
    <config-file parent="UIBackgroundModes" target="*Info.plist">
      <array>
        <string>remote-notification</string>
      </array>
    </config-file>

    <config-file parent="com.apple.security.application-groups" target="*-Debug.plist">
      <array>
        <string>group.__APP_IDENTIFIER__</string>
      </array>
    </config-file>
    <config-file parent="com.apple.security.application-groups" target="*-Release.plist">
      <array>
        <string>group.__APP_IDENTIFIER__</string>
      </array>
    </config-file>

    <hook type="after_platform_add" src="hooks/prerequisites.js"/>
    <hook type="after_platform_add" src="hooks/copyExtensionFolderToIosProjectFolder.js"/>
    <hook type="after_platform_add" src="hooks/addNotificationExtensionToProject.js"/>
    <hook type="after_prepare" src="hooks/fixAppEntitlements.js"/>
  </platform>

  <platform name="android">	
    <framework src="com.squareup.retrofit2:retrofit:$RETROFIT_VERSION"/>
    <framework src="com.squareup.retrofit2:converter-gson:$RETROFIT_VERSION"/>
    <preference name="RETROFIT_VERSION" default="2.6.1"/>
    <source-file src="src/android/com/epam/dhl/cordova/push/DHLService.java" target-dir="src/com/epam/dhl/cordova/push"/>
    <source-file src="src/android/com/epam/dhl/cordova/push/RetrofitService.java" target-dir="src/com/epam/dhl/cordova/push"/>
    <source-file src="src/android/com/epam/dhl/cordova/push/api/DHLApi.java" target-dir="src/com/epam/dhl/cordova/push/api"/>
    <source-file src="src/android/com/epam/dhl/cordova/push/api/ServiceBody.java" target-dir="src/com/epam/dhl/cordova/push/api"/>
    <source-file src="src/android/com/epam/dhl/cordova/push/api/ServiceCheckResponse.java" target-dir="src/com/epam/dhl/cordova/push/api"/>
    <source-file src="src/android/com/epam/dhl/cordova/push/api/ServiceData.java" target-dir="src/com/epam/dhl/cordova/push/api"/>
    <source-file src="src/android/com/epam/dhl/cordova/push/api/ServiceResponse.java" target-dir="src/com/epam/dhl/cordova/push/api"/>

    <hook type="after_platform_add" src="androidReplaceService.js"/>
  </platform>

</plugin>
